*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vmin;
   background-color: #023047;
   display: flex;
   align-items: center;
    gap: 100px;
    justify-content: center;
}
#historyContainer{
   min-height: 80px;
   width: 350px;
   border: 1px solid black;
   padding: 10px;
   
  

}
#historybtns{
    display: flex;
    justify-content: space-between;
   
}

#paras{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: auto;
}
p{ border: 1.5px solid #757575;
    color: #757575;
    padding: 4px;
    border-radius: 2px;
}
#paras::-webkit-scrollbar{
    display: none;
}

.password-container{
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.5);
    border-radius: 10px;
    width: 350px;
    text-align: center;
    background-color: #8ecae6;
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}
.header{
    background-color: blue;
    padding: 10px;
    color: white;
    font-family: sans-serif;
}
.display{
    margin: 10px 0;
    display: flex;
    padding: 0 20px;

}
.display input{
    width: 100%;
    border: none;
    outline: none;
    font-size: larger;
    font-weight: bold;
    background: transparent
}
.display button{
   background-color: red;

   border: none;
   color:white;
   padding: 5px;
   border-radius: 2px;
   cursor: pointer;
   font-weight: bold;
   
}
.display button:hover{
    background-color: rgb(7, 7, 122);
}
.display button:active{
    scale: 0.6;
}
.setting{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
   

}
#generate-button{
    display: block;
    position: relative;
    width: 100%;
    background-color: #fb8500;
    color: white;
   font-size: 20px;
    padding: 10px;
    border:none;
    font-weight: bold;
}
#generate-button:active{
    scale: 0.9;
    background-color: red;
}
#showdata{
    background-color: #ffb703;
    color: white;
    font-weight: bold;
    border: none;

}
#showdata:active{
    scale: 0.9;
}
#clearhistory{
  background-color: #ffb703;
  color: white;
  font-weight: bold;
}
#clearhistory:active{
    scale: 0.9;
}
#showdata:hover{
    background-color: #f95103;
}
#clearhistory:hover{
    background-color: #f95103;
}
/* textarea{
 display: none;
} */


